.config-content {
  display: flex;
  flex-direction: column;
}

.config-container-1 {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.config-top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.config-feature-tabs {
  background-color: #1e293b;
  border-radius: 8px;
  display: flex;
  padding: 4px;
  gap: 10px;
}

.config-feature-tab {
  background-color: transparent;
  border: none;
  color: #cbd5e1;
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.config-feature-tab.config-feature-tab-active {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
  color: white;
}

.config-tab-icon {
  font-size: 16px;
}
