.config2-basic-card {
  background: #0f1c3b;
  border-radius: 12px;
  padding: 2rem;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.config2-basic-title {
  color: #60a5fa;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}


.config2-basic-field {
  color: #3b82f6;
}

.config2-basic-field label {
  display: block;
  margin-bottom: 0.4rem;
  color: #cbd5e1;
  font-weight: 500;
}

.config2-basic-radio {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.config2-basic-radio label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #93c5fd;
  font-weight: 500;
  cursor: pointer;
}

.config2-basic-radio input[type='radio'] {
  accent-color: rgb(40, 3, 248);
  margin: 0;
}

.config2-basic-field input[type='text'] {
  width: 100%;
  padding: 0.65rem 0.75rem;
  padding-bottom: 4px;
  border-radius: 8px;
  background-color: #070707;
  border: 2px solid #494b4d;
  color: rgb(245, 245, 246);
  font-size: 0.95rem;
  transition: border 0.2s ease;
}

.config2-basic-field input[type='text']:focus {
  border: 2px solid #f2f3f5;
  outline: none;
}

.config2-basic-button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(to right, #3b82f6, #9333ea);
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.config2-basic-button:hover {
opacity: 0.7;
}

.config2-basic-icon {
  font-size: 1rem;
}
