.config2-network-card {
  background: #0f1c3b;
  border-radius: 12px;
  padding: 1.5rem;
  color: #e5e7eb;
  font-family: 'Segoe UI', sans-serif;
}

.config2-network-card h3 {
  color: #60a5fa;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.config2-network-subtitle {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.config2-interface-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.config2-interface-row {
  background: #0b1226;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.config2-buttons {
  display: flex;
  gap: 0.5rem;
}

.config2-btn {
  background: #ffffff;
  border: none;
  border-radius: 7px; /* fully rounded (pill) */
  padding: 0.3rem 0.9rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #3b82f6;
  font-weight: 500;
}

.config2-btn.enabled {
  background-color: #10b981;
  color: white;
}

.config2-btn.disabled {
  background-color: #ef4444;
  color: white;
}

.config2-btn:hover {
  opacity: 0.85;
}

.config2-status-uptime {
  display: flex;
  justify-content : space-between;
  margin-bottom: 1.5rem;
}

.config2-status-uptime p {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  color: #cbd5e1;
}

.config2-box {
  background: #0b1226;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 0.9rem;
  width: 150px;
}


.config2-box.green {
  color: #10b981;
}

.config2-restart-btn {
  width: 100%;
  background: linear-gradient(to right, #f97316, #dc2626);
  color: white;
  border: none;
  border-radius: 9px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.config2-restart-btn:hover {
  opacity: 0.7;
}

.config2-restart-btn.spinning .icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
