.server-overview {
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: #1e293b;
  padding: 20px;
  border-radius: 15px;
  color: white;
  font-size: 16px;
}

.status-item {
  text-align: center;
}

.status-item .label {
  display: block;
  color: #cbd5e1;
  margin-bottom: 5px;
  font-weight: bold;
}

.status-item .value {
  font-size: 20px;
  font-weight: bold;
}

.status-item .online {
  color: #22c55e;
}
